:root {
    /* size of curved corners */
    --field_border_radius: 1.25rem;

    /* vertical margin between title, courses and buttons*/
    --between_margin: 2rem;

    /* size multiplier of contact icons*/
    --contact-size-multiplier: 1;

    /* color variables */
    --background-color-base: skyblue;
    --background-color-gradient: skyblue;
    --element-color: white;
    --mealcourse-color: lightcoral;
    --vegetarian-course-color: lightgreen;
    --text-color: black;
    --button-border-color: black;
}

body {
    background-color: var(--background-color-base);
    font-size: 160%;
    color: var(--text-color);
    font-family: 'Times New Roman', serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color-base: #1d1d1d;
        --background-color-gradient: #272727;
        --element-color: #4a4a4a;
        --mealcourse-color: #7a1a1a;
        --vegetarian-course-color: #0a500a;
    }
}

p {
    font-size: 150%;
}

#otsikko {
    text-align: center;
}

.info {
    border-radius: var(--field_border_radius);

    margin: var(--between_margin) 1rem;
    padding: 1rem 1.5rem;

    background-color: var(--element-color);
}

#ei-koulua {
    display: none;
}

.ateriatyyppi {
    margin: 0rem;
    text-align: right;

    flex-shrink: 0;
}

.ateria {
    border-radius: var(--field_border_radius);

    margin: var(--between_margin) 1rem;
    padding: calc(var(--between_margin) - 1.5rem) 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    /* Distance between course category and the course */
    gap: 2rem;
}

.ruoka {
    margin: 1.5rem 0rem;
}

.seka {
    background-color: var(--mealcourse-color);
}

.kasvis {
    background-color: var(--vegetarian-course-color);
}

#navigointi {
    margin: calc(1rem + var(--between_margin)) 0rem;

    /* Set buttons on sides of the screen. */
    display: flex;
    justify-content: space-between;
}

.nappi {
    cursor: pointer;

    font-size: 200%;
    background-color: var(--element-color);

    margin: 0.75rem;
    padding: 1.5rem;

    border-radius: var(--field_border_radius);
    border-style: outset;
    border-width: 0.25rem;
    border-color: var(--button-border-color);
}

.cf-placeholder {
    display: block;
}

#cf-placeholder-navbar {
    position: absolute;
    align-self: flex-end;
}

#cf-placeholder-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
}

#contacts {
    margin: 0rem 0.5rem 0.75rem 0.5rem;

    display: flex;
    flex-direction: row-reverse;
}

.contact-filler {
    /* Moves contact buttons to left so they don't overlap with the 'seuraava'-button. 
       The filler is not displayed by default. */
    display: none;
}

.contact {
    /* Multiplying contact icon size by the size multiplier. */
    margin: 0rem calc(2rem * var(--contact-size-multiplier)) 0rem 0rem;

    border-radius: calc(3rem * var(--contact-size-multiplier));
    height: calc(6rem * var(--contact-size-multiplier));
    width: auto;
}

.contact-link {
    cursor: pointer;
}

#viestikentta {
    display: none;
}

#viesti {
    margin: 0.5rem 0rem;
}

#sulje {
    cursor: pointer;
}

.viestit-out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.viestit-in {}

.nojs {
    border-radius: var(--field_border_radius);

    margin: 2rem 1rem;
    padding: 2rem 1.5rem;

    background-color: #ffffff;

    font-weight: bold;
    font-size: 150%;
}

#bottom {
    position: absolute;

    height: 10rem;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;

    background: linear-gradient(var(--background-color-base), var(--background-color-gradient));
}
