#syote-kuva {
    margin: 0.75rem;
    padding: 1.5rem;

    width: auto;
    height: 3rem;
    font-size: 3rem;
}

#syote-teksi {
    width: 18rem;
    height: 2rem;
    font-size: 2rem;
}

.syote {
    margin: 0.75rem;
    padding: 1.5rem;
}

#kayttaja-napit {
    display: flex;
    justify-content: flex-end;
}

#koodi {
}

#luo {
    margin-top: 8rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.ohje {
   width: fit-content;
}

.needs-account {
   /* display: none;*/
}

#koodi-esilla {
    display: none;
}