.otsikko {
   /* font-size: 150%;*/

    border-radius: var(--field_border_radius);

    margin: 2rem 1rem;
    padding: 1rem 1.5rem;

    background-color: white;
}

.kasvis {
    margin-bottom: 6.5rem;
}
