.otsikko {
    border-radius: var(--field_border_radius);

    margin: 2rem 1rem;
    padding: 1rem 1.5rem;

    background-color: white;
}

#ruokalista {
    display: flex;
    flex-direction: column;

    gap: 4rem;
}
